*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

html, body{
    height: 100%;
    width: 100%;
    /* overflow: hidden; */
}

#main{
    /* background-color: bisque; */
    height: 100%;
    width: 100%;
    display: flex;
}

#left{
    width: 35%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

#right{
    width: 65%;
    height: 100%;
    background-color: rgb(124, 107, 107);
}
#rightup{
    display: flex;
    height: 50%;
    background-color: aquamarine;
}

#rightdown{
    height: 50%;
    background-image: url(https://images.unsplash.com/photo-1503914068268-5413b35b45ad?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
}

#tright{
    width: 50%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1567653418876-5bb0e566e1c2?q=80&w=1528&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
}

#tleft{
    width: 50%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1537800534001-f3e01aa1c34c?q=80&w=1480&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
}

#nav{
    margin-top: 25px;
    padding: 0px 50px 0px 20px;
    display: flex;
    align-items:center;
    justify-content: space-between;
    height: 50px;
    /* background-color: aquamarine; */
}

#nav2{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

#nav2 h4{
    font-size: 15px;
    margin-left: 20px;
    text-decoration: none;
}

#left{
    position: relative;
}

#text{
    position: absolute;
    top: 30%;
    padding: 45px;
    /* background-color: beige; */

}

#text h1{
    font-weight: 900;
    font-size: 60px;
    margin-bottom: 20px;
}

#text p {
    font-size: 20px;
    margin-bottom: 20px;
}

.ri-twitter-fill{
    color: rgb(5, 164, 226);
    font-size: 20px;
}
.ri-arrow-left-line{
    font-size: 30px;
}

#ttext{
    font-size: 60px;
    font-weight: 900;
    letter-spacing: 20px;
    line-height: 150px;
    color: #fff;
    }